httpserver/brick-monitoring
translator/translator
*.venv
*__pycache__
.env.dev
.env.prod
requirements.txt
redis.conf
build
.pytest_cache
*.egg-info
uv.lock
.ruff_cache
.coverage
.vscode
reports/отчет.02-04-2025 — 03-04-2025.90378886-0be6-48f2-88ed-b6acd333146d.pdf
reports/ОТЧЕТ.pdf
